@import './color.scss';

.content {
	/* border: solid #ebe8dc 5px; 
	border-radius: 10px;
	box-shadow: inset -3px -3px 7px #e7e6e0, inset 3px 3px 5px #cac6b2; 
	border: solid black 2px;*/
	position: relative;
	height: 72vh;
	width: 95.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.mic {
	font-size: 40px;
	position: absolute;
	top: 25%;
	left: 40%;
	cursor: pointer;
}

.mic-content {
	display: flex;
	font-size: 40px;
	/*border: solid black 2px;*/
	position: absolute;
	top: 40%;
	left: 32%;
	width: 100%;
}

.input-text {
	margin: 20px;
	font-size: 32px;
	position: absolute;
	top: 55%;
	left: 70%;
	transform: translate(-50%, -50%);
	width: 100%;
}

h6 {
	padding: 10px;
}

.output-container {
	margin: 20px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 60%;
	left: 30%;
	font-size: 32px;
	width: 100%;
}

.check-btn {
	cursor: pointer;
	margin-left: 5px;
	border: none;
	outline: none;
	font-size: 25px;
	transition: all 0.4s ease;
}

.check-btn:hover {
	color: $btn-color;
}
