@import './color.scss';

.border {
	margin: 30px;
	border: solid $border-color 2px;
	border-radius: 15px;
	box-shadow: -3px -3px 7px $top-shadow, 3px 3px 5px $bottom-shadow;
	object-fit: contain;
}

.content {
	/* border: solid #ebe8dc 5px; 
	border-radius: 10px;
	box-shadow: inset -3px -3px 7px #e7e6e0, inset 3px 3px 5px #cac6b2; 
	border: solid black 2px;*/
	position: relative;
	height: 72vh;
	width: 94.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mic {
	font-size: 40px;
	position: absolute;
	top: 25%;
	left: 40%;
	cursor: pointer;
}

.on-click {
	margin-top: 15px;
	transform: translate(-50%, -40%);
}

/*.input-container {
}*/

.input-text {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	font-size: 32px;
	color: #141412;
}

.output-container {
	margin-top: 30px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-40%, -50%);
	font-size: 32px;
}

.check-btn {
	margin-left: 10px;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.4s ease;
	border: none;
	font-size: 25px;
	outline: none;
}

.check-btn:hover {
	border-radius: 50px;
	background: transparent;
	color: $btn-color;
	border-radius: 4%;
}

/* The popup instruction - hidden */
.instruction-popup {
	display: none;
	position: fixed;
	height: 27vh;
	width: 27vw;
	margin-top: 20px;
	margin-left: 70px;
	/*border: solid $border-color 6px;*/
	border-radius: 40px;
	box-shadow: -3px -3px 7px $top-shadow, 7px 30px 40px $bottom-shadow;
	transition: 0.5s;
	animation: speech .7s linear 1;
	overflow: hidden;
	animation-name: slidein, fadeInOut;
	animation-delay: 0, 9s;
	animation-duration: 6s, 9.2s;
}

.instruction-content {
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

@keyframes slidein {
	from {
		height: 0%;
		width: 0%;
	}

	50% {
		height: 28%;
		width: 28%;
	}
}

@keyframes fadeInOut {
	50% {
		height: 28%;
		width: 28%;
	}

	100% {
		height: 0%;
		width: 0%;
	}
}
