* {
	margin: 0px;
	padding: opx;
	box-sizing: border-box;
}

:root {
	--primary-color: #f3f1e7;
}

body {
	font-family: 'IBM Plex Serif', serif;
	background-color: var(--primary-color);
	color: #141412;
	min-height: 100vh;
}

.border {
	margin: 30px;
	border: solid #f3f1e7 10px;
	border-radius: 15px;
	box-shadow: -3px -3px 7px #e7e6e0, 3px 3px 5px #cac6b2;
}

nav {
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	min-height: 10px;
}

.gramma-logo {
	margin-left: -50px;
	height: 80px;
	width: 80px;
	cursor: pointer;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-links li {
	padding-left: 15px;
	font-size: 20px;
	cursor: pointer;
}

.mic {
	font-size: 40px;
	position: absolute;
	top: 40%;
	left: 50%;
	cursor: pointer;
}
.on-click {
	margin-top: 10px;
	transform: translate(-50%, -30%);
}

.input-text {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	font-size: 32px;
	color: #141412;
}

.edit-button {
	display: none;
	background: white;
	color: #d88771;
	cursor: pointer;
	transition: all 0.3s ease;
}

.output-container {
	display: flex;
	align-items: center;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-40%, -50%);
	font-size: 32px;
}

.check-btn {
	margin-left: 10px;
	background-color: #f6f5f0;
	color: #d88771;
	cursor: pointer;
	transition: all 0.3s ease;
	border: none;
	font-size: 25px;
	outline: none;
}

.check-btn:hover {
	background: #d88771;
	color: white;
	border-radius: 4%;
}
