@import './nav.scss';
@import './reset.scss';
@import './content.scss';
@import './color.scss';

body {
	font-family: 'IBM Plex Serif', serif;
	background-color: $backround-color;
	color: $main-fontcolor;
	height: 90vh;
}
