/* The popup instruction - hidden */
.instruction-popup {
	display: none;
	position: fixed;
	height: 27vh;
	width: 27vw;
	margin-top: 20px;
	margin-left: 70px;
	/*border: solid $border-color 6px;*/
	border-radius: 40px;
	box-shadow: -3px -3px 7px $top-shadow, 7px 30px 40px $bottom-shadow;
	transition: 0.5s;
	animation: speech .7s linear 1;
	overflow: hidden;
	animation-name: slidein, fadeInOut;
	animation-delay: 0, 9s;
	animation-duration: 6s, 9.2s;
}

.instruction-content {
	padding: 40px 20px;
}

@keyframes slidein {
	0% {
		height: 0%;
		width: 0%;
	}

	50% {
		height: 28%;
		width: 28%;
	}
}

@keyframes fadeInOut {
	50% {
		height: 28%;
		width: 28%;
	}

	100% {
		height: 0%;
		width: 0%;
	}
}
